<!-- Repository Tag -->
<div class="page-repository-tag">
  <!-- Repository Header -->
  <div repository-header></div>
  <!-- //Repository Header -->

  <!-- Title, Filter -->
  <div class="section-title">
    <h2 class="txt-title">Tag History</h2>
    <!-- Filter -->
    <div class="filter-area">
      <div class="component-search type-filter">
        <input type="text" class="input-search" placeholder="Search for Tags" #searchInput (keyup.enter)="searchKey = searchInput.value">
        <span class="icon-search"></span>
        <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="searchInput.value = ''; searchKey = '';"></a>
      </div>
    </div>
    <!-- //Filter -->
  </div>
  <!-- //Title, Filter -->

  <!-- Tags -->
  <div class="component-table" *ngIf="(historyList | filter:{name: searchKey}).length">
    <table class="table-tag-history">
      <colgroup>
        <col width="*" />
        <col width="160" />
        <col width="340" />
      </colgroup>
      <thead>
      <tr>
        <th>Tag Change</th>
        <th>
          <a href="javascript:;" class="btn-sort" [class.type-asc]="sortProperty == 'date' && sortDirection == 'asc'" [class.type-desc]="sortProperty == 'date' && sortDirection == 'desc'" (click)="sortClick('date')">Date</a>
        </th>
        <th>Revert</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of historyList | sort:sortProperty:sortDirection | filter:{name: searchKey}">
        <td>
          <div class="change-area" *ngIf="item.isDeleted">
            <span class="ver-block">{{ item.name }}</span>
            was deleted
          </div>

          <div class="change-area" *ngIf="!item.isDeleted && !item.isMoved">
            <span class="ver-block">{{ item.name }}</span>
            was created pointing to
            <span class="txt-sha">{{ item.manifest_digest ? item.manifest_digest.split(':')[0].toUpperCase() : 'V1ID' }}</span>
            <a href="javascript:;" class="link-id" (click)="imageClick(item)">{{ item.manifest_digest ? item.manifest_digest.split(':')[1].substr(0, 12) : item.docker_image_id.substr(0, 12) }}</a>
          </div>

          <div class="change-area" *ngIf="item.isMoved">
            <span class="ver-block">{{ item.name }}</span>
            was {{ item.reversion ? 'reverted' : 'moved' }} to
            <span class="txt-sha">{{ item.manifest_digest ? item.manifest_digest.split(':')[0].toUpperCase() : 'V1ID' }}</span>
            <a href="javascript:;" class="link-id" (click)="imageClick(item)">{{ item.manifest_digest ? item.manifest_digest.split(':')[1].substr(0, 12) : item.docker_image_id.substr(0, 12) }}</a>
            from
            <span class="txt-sha">{{ item.beforeHistory.manifest_digest ? item.beforeHistory.manifest_digest.split(':')[0].toUpperCase() : 'V1ID' }}</span>
            <a href="javascript:;" class="link-id" (click)="imageClick(item.beforeHistory)">{{ item.beforeHistory.manifest_digest ? item.beforeHistory.manifest_digest.split(':')[1].substr(0, 12) : item.beforeHistory.docker_image_id.substr(0, 12) }}</a>
          </div>
        </td>
        <td>
          <span class="txt-date">{{ item.formatted_date }}</span>
        </td>
        <td>
          <a href="javascript:;" class="link-revert" *ngIf="item.isDeleted || item.isMoved" (click)="restoreImageClick(item.beforeHistory, item.isDeleted)">
            <span class="txt-revert">{{ item.isDeleted ? 'Restore' : 'Revert' }}</span>
            <span class="ver-block">{{ item.name }}</span>
            <span class="txt-revert">to</span>
            <span class="txt-sha">{{ item.beforeHistory.manifest_digest ? item.beforeHistory.manifest_digest.split(':')[0].toUpperCase() : 'V1ID' }}</span>
            <span class="txt-id">{{ item.beforeHistory.manifest_digest ? item.beforeHistory.manifest_digest.split(':')[1].substr(0, 12) : item.beforeHistory.docker_image_id.substr(0, 12) }}</span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- //Tags -->

  <!-- No Data (Text + Description) -->
  <div class="component-nodata" *ngIf="(!searchKey || searchKey == '') && !(historyList | filter:{name: searchKey}).length">
    <span class="txt-nodata">No recent tag activity.</span>
    <p class="txt-desc">
      There has not been any recent tag activity on this image.
    </p>
  </div>
  <!-- //No Data (Text + Description) -->

  <!-- No Data (Search) -->
  <div class="component-nodata" *ngIf="(searchKey && searchKey != '') && !(historyList | filter:{name: searchKey}).length">
    <span class="txt-nodata">No matching tag found.</span>
    <p class="txt-desc">There are not matching tag for the search.</p>
    <a href="javascript:;" class="link-back" (click)="searchInput.value = ''; clearSearchClick()">Clear Search</a>
  </div>
  <!-- //No Data (Search) -->
</div>
<!-- //Repository Tag -->

<div tag-layer-popup [show]="showTagLayerPopup" [imageId]="selectedImageId" (onClose)="showTagLayerPopup = false"></div>

<!-- Layer Popup -->
<div class="layout-popup" *ngIf="showRestoreImagePopup">
  <div class="layer-popup">
    <div class="section-popup">

      <div class="popup-area">
        <a href="javascript:;" class="btn-close" aria-label="Popup Close" (click)="showRestoreImagePopup = false"></a>
        <h1 class="txt-title">{{ selectedHistory.isDeleted ? 'Restore' : 'Revert' }} Tag</h1>

        <!-- Popup Restore Tag -->
        <div class="popup-restore-tag">
          <div class="txt-confirm">
            Are you sure you want to {{ selectedHistory.isDeleted ? 'restore' : 'revert' }} tag
            <span class="txt-ver">{{ selectedHistory.name }}</span>
            to image
            <span class="txt-sha">{{ selectedHistory.manifest_digest ? selectedHistory.manifest_digest.split(':')[0].toUpperCase() : 'V1ID' }}</span>
            <span class="txt-id">{{ selectedHistory.manifest_digest ? selectedHistory.manifest_digest.split(':')[1].substr(0, 12) : selectedHistory.docker_image_id.substr(0, 12) }}</span>
          </div>
          <p class="txt-desc">This will change the image to which the tag points.</p>
        </div>
        <!-- //Popup Restore Tag -->

        <!-- Button -->
        <div class="button-block">
          <button type="button" class="btn-basic type-small" (click)="showRestoreImagePopup = false">Cancel</button>
          <button type="button" class="btn-action type-small" (click)="restoreImage()">{{ selectedHistory.isDeleted ? 'Restore' : 'Revert' }} Tag</button>
        </div>
        <!-- //Button -->
      </div>

    </div>
  </div>
</div>
<!-- //Layer Popup -->
