<h2 class="section-sub-title">
  <div class="title-area">
    <div class="title-block">
      <a href="javascript:;" class="btn-back" aria-label="Back" (click)="backClick()"></a>
      <span class="txt-title">
        <em>{{ orgName }}/{{ repoName }}</em>
      </span>
      <div class="favorite-private">
        <div class="component-starred">
          <input type="checkbox" class="input-checkbox" id="starred01" [checked]="repo.is_starred" (change)="starChange(repo)">
          <label for="starred01" class="txt-label"></label>
        </div>
        <span class="type-private" *ngIf="!repo.is_public"></span>
      </div>

      <div class="buttons">
        <button type="button" class="btn-sub-action type-box" (click)="startNewBuildClick()" *ngIf="mine">Start New Build</button>
        <button type="button" class="btn-action type-box" (click)="copyAsClick()">Copy As</button>
      </div>
    </div>
  </div>
</h2>

<div build-popup [show]="showBuildPopup" (onClose)="buildPopupClose()"></div>

<div copy-as-popup *ngIf="showCopyAsPopup" (onClose)="copyAsPopupClose()"></div>
