<!-- Repository Table -->
<div class="component-table" *ngIf="repositoryList && (repositoryList | filter:{name: searchKey, namespace: searchKey}).length">
  <table class="table-repository">
    <colgroup>
      <col width="70" />
      <col width="*" />
      <col width="150" />
      <col width="200" />
    </colgroup>
    <thead>
    <tr>
      <th class="align-center">
        <!--
            [D] 오름차순 : type-asc 클래스 추가,
            [D] 내림차순 : type-desc 클래스 추가
        -->
        <a href="javascript:;" class="btn-sort type-starred" [class.type-asc]="sortProperty == 'isStarred' && sortDirection == 'asc'" [class.type-desc]="sortProperty == 'isStarred' && sortDirection == 'desc'" (click)="sortClick('isStarred')"></a>
      </th>
      <th>
        <a href="javascript:;" class="btn-sort" [class.type-asc]="sortProperty == 'name' && sortDirection == 'asc'" [class.type-desc]="sortProperty == 'name' && sortDirection == 'desc'" (click)="sortClick('name')">Image Name</a>
      </th>
      <th>
        <a href="javascript:;" class="btn-sort" [class.type-asc]="sortProperty == 'popularity' && sortDirection == 'asc'" [class.type-desc]="sortProperty == 'popularity' && sortDirection == 'desc'" (click)="sortClick('popularity')">Activity</a>
      </th>
      <th>
        <a href="javascript:;"class="btn-sort" [class.type-asc]="sortProperty == 'updatedDate' && sortDirection == 'asc'" [class.type-desc]="sortProperty == 'updatedDate' && sortDirection == 'desc'" (click)="sortClick('updatedDate')">Last Modified</a>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of repositoryList; let index = index;">
      <td class="align-center">
        <div class="component-starred">
          <input type="checkbox" class="input-checkbox" [attr.id]="'starred' + index" [checked]="item.isStarred" (change)="starChange(item)">
          <label [attr.for]="'starred' + index" class="txt-label"></label>
        </div>
      </td>
      <td>
        <a href="javascript:;" class="link-item" (click)="moveToDetail(item.namespace, item.name)" [title]="item.namespace + '/' + item.name">{{ item.namespace }}/{{ item.name }}</a>
      </td>
      <td>
        <!--
            [D]
            1개 : type-1st
            2개 : type-2nd
            3개 : type-3rd
            4개 : typs-all
        -->
        <ul class="component-activity" [class.type-1st]="item.popularity == 1" [class.type-2nd]="item.popularity == 2" [class.type-3rd]="item.popularity == 3" [class.type-4th]="item.popularity == 4" [class.type-max]="item.popularity >= 5">
          <li class="bar"></li>
          <li class="bar"></li>
          <li class="bar"></li>
          <li class="bar"></li>
        </ul>
      </td>
      <td>
        <span class="txt-date" [class.type-private]="!item.isPublic">{{ item.lastModified ? (item.lastModified | dateTimeFormat:'YYYY-MM-DD HH:mm') : '(Empty Image)' }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- //Repository Table -->

<!-- Search No Data -->
<div class="nodata-area type-search" *ngIf="searchKey != '' && (!repositoryList || (repositoryList | filter:{name: searchKey, namespace: searchKey}).length == 0)">
  <span class="txt-nodata">No matching images found.</span>
  <p class="txt-desc">
    There are no matching images for the search.
  </p>
</div>
<!-- //Search No Data -->
