<!--suppress NsUnresolvedStyleClassReference, JSUnnecessarySemicolon -->
<div class="profile-block">
  <span class="txt-label">
    {{userName}}
  </span>
  <!-- Layer -->
  <div class="layer-profile">
    <a href="javascript:;" class="link-my" (click)="moveMyRepository()">My Repository</a>
    <a href="javascript:;" class="link-setting" (click)="moveAccountSettingsPage()">Account Settings</a>
    <a href="javascript:;" class="link-logout" (click)="moveLoginPage()">Sign Out</a>
  </div>
  <!-- //Layer -->
</div>
