@charset "utf-8";

/***************************************************************************************
   Main
***************************************************************************************/
.page-main {
    .section-title {
        margin:37px 0 0;
    }

    // List
    .section-list {
        margin:16px 0 0;

        // No Data
        .nodata-area {
            padding:80px 0 0;
        }

        // Pagination
        .pagination-area {
            .component-pagination {
                margin:16px 0 0;
            }
        }
    }

    // Repository List
    .list-repository {
        > li + li {
            margin:8px 0 0;
        }
    }
}