@charset "utf-8";

/***************************************************************************************
   Repositories Info
***************************************************************************************/
.page-repositories-info {
    .section-detail {
        padding:40px 0 0 0;
        flex-flow:row nowrap;

        @extend %flex;

        .left-info {
            @include flex(auto);
        }
        .right-info {
            width:440px;
            min-width:440px;
            padding-left:40px;

            @include flex(initial);

            .table-activity {
                width:420px;
            }
        }
        .txt-title {
            margin:0 0 14px;
            padding:0 0 0 10px;
            font-size:14px;
            color:#4b515b;

            &:after {
                @extend %clear;
            }
            .link-text {
                float:right;
                font-weight:normal;
            }
        }

        .detail-area {
            margin:0 0 45px;

            .component-textarea {
                height:90px;
            }
            .button-block {
                margin:10px 0 0;
            }
        }
    }
}