@charset "utf-8";

/***************************************************************************************
   Account Settings
***************************************************************************************/
.page-account-setting {
    .section-button {
        margin:27px 0 0;
        padding:20px 0 0;
        border-top:1px solid #e7e7ea;
        text-align:right;
    }
}