<!-- Layer Popup -->
<div class="layout-popup" [hidden]="!show">
  <div class="layer-popup">
    <div class="section-popup">

      <div class="popup-area type-large">
        <a href="javascript:;" class="btn-close" aria-label="Popup Close" (click)="close()"></a>
        <h1 class="txt-title">Create New Image</h1>

        <!-- Popup Create New Repository -->
        <div class="popup-create-repository">
          <!-- Form Create -->
          <div class="section-create">
            <table class="form-create">
              <colgroup>
                <col width="180" />
                <col width="*" />
              </colgroup>
              <tbody>
              <tr>
                <th>
                  <label class="txt-label">Organization</label>
                </th>
                <td>
                  <!-- Selectbox -->
                  <div select-box (onSelected)="namespaceSelect($event)"></div>
                  <!-- //Selectbox -->
                </td>
              </tr>
              <tr>
                <th>
                  <label class="txt-label">Image Name</label>
                </th>
                <td>
                  <div class="component-input" [class.is-error]="errorRepoName">
                    <div class="input-area">
                      <input type="text" class="input-text" placeholder="Image Name" [(ngModel)]="repo.name" (keyup)="repoNameChange()" maxlength="40">
                      <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="repo.name = ''" tabIndex="-1"></a>
                    </div>
                    <span class="txt-error">Image names must match [a-z0-9_-]+</span>
                  </div>
                  <p class="txt-desc">Only alphabetical lower case letters, numbers and -_+] can be entered as the image name.</p>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="txt-label">Description</label>
                </th>
                <td>
                  <div class="component-input">
                    <div class="input-area">
                      <input type="text" class="input-text" placeholder="Description" [(ngModel)]="repo.description">
                      <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="repo.description = ''" tabIndex="-1"></a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="txt-label">Image Visibility</label>
                </th>
                <td>
                  <ul class="list-radio">
                    <li>
                      <div class="component-radio">
                        <input type="radio" id="radio_is_public1" class="input-radio" [value]="false" [(ngModel)]="repo.isPublic">
                        <label for="radio_is_public1" class="label">
                          <span class="icon-radio"></span>
                          <span class="txt-label type-private">
														Private
														<em>You choose who can see, pull and push from/to this image.</em>
													</span>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="component-radio">
                        <input type="radio" id="radio_is_public2" class="input-radio" [value]="true" [(ngModel)]="repo.isPublic">
                        <label for="radio_is_public2" class="label">
                          <span class="icon-radio"></span>
                          <span class="txt-label type-public">
														Public
														<em>Anyone can see and pull from this image.</em>
													</span>
                        </label>
                      </div>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>
                  <label class="txt-label">Initialize Image</label>
                </th>
                <td>
                  <ul class="list-radio">
                    <li>
                      <div class="component-radio">
                        <input type="radio" id="radio3" class="input-radio" name="createType" [value]="CreateType.DEFAULT" [(ngModel)]="createType" (change)="changeCreateType(0)">
                        <label for="radio3" class="label">
                          <span class="icon-radio"></span>
                          <span class="txt-label type-empty">
														Empty Image
													</span>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="component-radio">
                        <input type="radio" id="radio4" class="input-radio" name="createType" [value]="CreateType.DOCKERFILE" [(ngModel)]="createType" (change)="changeCreateType(1)">
                        <label for="radio4" class="label">
                          <span class="icon-radio"></span>
                          <span class="txt-label type-docker">
														Initialize from a Dockerfile
													</span>
                        </label>
                      </div>
                    </li>
                    <li>
                      <div class="component-radio">
                        <input type="radio" id="radio8" class="input-radio" name="createType" [value]="CreateType.GIT" [(ngModel)]="createType" (change)="changeCreateType(2)">
                        <label for="radio8" class="label">
                          <span class="icon-radio"></span>
                          <span class="txt-label type-custom">
														Link to a Custom Git Repository Push
													</span>
                        </label>
                      </div>
                    </li>
                    <li *ngIf="userService.user.minioEnabled">
                      <div class="component-radio">
                        <input type="radio" id="radio9" class="input-radio" [value]="CreateType.MINIO" [(ngModel)]="createType" (change)="changeCreateType(3)">
                        <label for="radio9" class="label">
                          <span class="icon-radio"></span>
                          <span class="txt-label type-minio">
														From Private Storage(MinIO)
													</span>
                        </label>
                      </div>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr *ngIf="createType == CreateType.DOCKERFILE">
                <th>
                  <label class="txt-label">Initialize from Dockerfile</label>
                </th>
                <td>
                  <!-- File -->
                  <div file-upload [status]="fileStatus" (onChange)="fileChange($event)"></div>
                  <!-- //File -->
                </td>
              </tr>
              <tr *ngIf="createType == CreateType.GIT">
                <th>
                  <label class="txt-label">Git Repository</label>
                </th>
                <td>
                  <div class="component-input">
                    <div class="input-area">
                      <input type="text" class="input-text" placeholder="Git Repository Path" [(ngModel)]="gitPath">
                      <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="gitPath = ''" tabIndex="-1"></a>
                    </div>
                  </div>
                  <div class="component-input">
                    <div class="input-area">
                      <input type="text" class="input-text" placeholder="Git Repository Username" [(ngModel)]="gitUsername">
                      <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="gitUsername = ''" tabIndex="-1"></a>
                    </div>
                  </div>
                  <div class="component-input">
                    <div class="input-area">
                      <input type="password" class="input-text" placeholder="Git Repository Password" [(ngModel)]="gitPassword">
                      <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="gitPassword = ''" tabIndex="-1"></a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="createType == CreateType.MINIO">
                <th>
                  <label class="txt-label">Private Storage</label>
                </th>
                <td>
                  <a href="javascript:;" class="link-minio" (click)="minioLinkClick()">Link MinIO Url</a>
                  <div class="component-input">
                    <div class="input-area">
                      <input type="text" class="input-text" placeholder="Enter Path" [(ngModel)]="minioPath">
                      <a href="javascript:;" class="btn-clear" aria-label="Clear" (click)="minioPath = ''"></a>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="createType != CreateType.DEFAULT">
                <th>
                  <label class="txt-label">Cache</label>
                </th>
                <td>
                  <div class="option-area">
                    <div class="component-radio">
                      <input type="radio" id="radio11" name="cache-radio" class="input-radio" [value]="false" [(ngModel)]="noCache">
                      <label for="radio11" class="label">
                        <span class="icon-radio"></span>
                        <span class="txt-label">Cache</span>
                      </label>
                    </div>
                    <div class="component-radio">
                      <input type="radio" id="radio12" name="cache-radio" class="input-radio" [value]="true" [(ngModel)]="noCache">
                      <label for="radio12" class="label">
                        <span class="icon-radio"></span>
                        <span class="txt-label">No Cache</span>
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- //Form Create -->
        </div>
        <!-- //Popup Create New Repository -->

        <!-- Button -->
        <div class="button-block">
          <button type="button" class="btn-basic type-small" (click)="close()">Cancel</button>
          <!-- [D] Success 인 경우 disabled 속성 제거 -->
          <button type="button" class="btn-action type-small" [disabled]="!checkValidate()" (click)="createRepoClick()">Create {{ repo.isPublic ? 'Public' : 'Private' }} Image</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- //Layer Popup -->
